extends ../layouts/application.pug

block header
  = t('views.statuses.new.title')

block content
  +formFor()(action=route('statuses#create') method='post')
    +input(status, 'name', t('views.statuses.name'), errors)(type="text", autofocus)
    +submit(status)(value=t('views.statuses.new.submit'))