extends ../layouts/application.pug

block header
  = t('views.labels.update.title')

block content
  +formFor()(action=route('labels#update', { id: label.id }) method='post')
    +input(label, 'name', t('views.labels.name'), errors)(type="text")
    input(name='_method', type='hidden' value='patch')
    +submit(label)(value=t('views.labels.update.submit'))