extends ../layouts/application.pug

block header
  = t('views.tasks.update.title')

block content
  +formFor()(action=route('tasks#update', { id: task.id }) method='post')
    +input(task, 'name', t('views.tasks.name'), errors)(type="text", autofocus)
    +textarea(task, 'description', t('views.tasks.description'))
    +select(task, 'taskStatusId', t('views.tasks.taskStatus'), errors)
    +select(task, 'executorId', t('views.tasks.executor'), errors)
    +select(task, 'labels', t('views.tasks.labels'), errors, false)(multiple)
    input(name='_method', type='hidden', value='patch')
    +submit(task)(value=t('views.tasks.update.submit'))