extends ../layouts/application.pug

block header
  = t('views.tasks.new.title')

block content
  +formFor()(action=route('tasks#create') method='post')
    +input(task, 'name', errors)(type="text", autofocus)
    +textarea(task, 'description', 'Описание')(type="text")
    +select(task, 'statusId', 'Статус', errors)(type="number")
    +select(task, 'executorId', 'Исполнитель', errors)(type="number")
    +select(task, 'labels', 'Метки', errors, false)(multiple)
    +submit(task)(value=t('views.tasks.new.submit'))