extends ../layouts/application.pug

block content
  .jumbotron
    .display-4= t('views.welcome.index.hello')
    p.lead= t('views.welcome.index.description')
    hr
    a.btn.btn-primary.btn-lg(href="https://ru.hexlet.io/professions/backend/projects/6")= t('views.welcome.index.more')
